* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1e6d8;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}



.login-container {
    width: 350px;

    padding: 30px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}



.login-container h1 {
    text-align: center;

    margin-bottom: 25px;

    color: #75451f;

    font-size: 30px;
}



.login-container h2 {
    text-align: center;

    margin-bottom: 20px;

    color: #333;
}



.login-container div:not(.login-container) {
    margin-bottom: 15px;
}

.login-container label {
    display: block;

    margin-bottom: 5px;

    color: #444;

    font-weight: bold;
}

.login-container input {
    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 5px;

    font-size: 15px;

    outline: none;
}

.login-container input:focus {
    border-color: #8b5428;
}



#btn-auth,
#btn-toggle {
    width: 100%;

    padding: 12px;

    margin-top: 10px;

    border-radius: 5px;

    font-size: 15px;

    cursor: pointer;
}



#btn-auth {
    border: none;

    background-color: #8b5428;

    color: white;

    font-weight: bold;
}

#btn-auth:hover {
    background-color: #6f401d;
}



#btn-toggle {
    border: 1px solid #8b5428;

    background-color: white;

    color: #8b5428;
}

#btn-toggle:hover {
    background-color: #f5e9dc;
}



#msg-erro {
    margin-top: 15px;

    text-align: center;

    color: red;

    font-size: 14px;
}



@media (max-width: 400px) {

    .login-container {
        width: 90%;

        padding: 25px;
    }

}
